body {
    background-color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
}

.card {
    background-color: white;
    border-radius: 12px;
    padding: 32px;
    border: 1px solid #e2e8f0;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    margin-bottom: 24px;
}

.input {
    width: 50%;
    padding: 16px;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    font-size: 16px;
}